# Data Types and Structures Assignment

#Theory

Q1 What are data structures, and why are they important?

Data structures are ways to store and organize data so it can be accessed and modified efficiently.

Importance:

- Improve performance (faster search, insert, delete)

- Optimize memory usage

- Make code efficient and manageable

- Help solve complex problems easily

Q2. Explain the difference between mutable and immutable data types with examples.

- Mutable data types

Can be changed after creation

Same memory location is modified

Examples: list, dict, set

- Immutable data types

Cannot be changed after creation

New object is created on modification

Examples: int, float, string, tuple

Q3.What are the main differences between lists and tuples in Python?

Lists vs Tuples

 Mutability
- List → Mutable (can change)
- Tuple → Immutable (cannot change)

 Syntax
- List → [ ]
- Tuple → ( )

 Performance
- List → Slower
- Tuple → Faster

 Memory
- List → More memory
- Tuple → Less memory

 Use case
- List → Data changes frequently
- Tuple → Fixed/read-only data

Q4. Describe how dictionaries store data.

A dictionary stores data in key–value pairs.

Keys → Unique & immutable (e.g., string, int, tuple)

Values → Any data type

Uses hashing to store and retrieve data fast

Q5. Why might you use a set instead of a list in Python?


You need unique elements only

Fast lookup (membership checking)

Order of elements does not matter

Key points:

Set → No duplicates

Set → Unordered

Set → Faster than list for in operation

Q6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters enclosed in quotes.

Difference between String and List:

Mutability
- String → Immutable
- List → Mutable

Elements
- String → Characters
- List → Any data type

Syntax
- String → " " or ' '
- List → [ ]

Modification
- String → Cannot change directly
- List → Can change elements

Q7. How do tuples ensure data integrity in Python?

- Tuples ensure data integrity because they are immutable.

- Once created, tuple elements cannot be changed

- Prevents accidental modification of data

- Makes data safe and reliable

- Suitable for fixed data (e.g., coordinates, constants)

Q8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that stores data using key–value pairs and allows fast access.

- How it works:

A hash function converts a key into a hash value

This hash decides the memory location of the value

- Relation to Python dictionaries:

Python dictionary is implemented using a hash table

Keys are hashed for O(1) average-time lookup, insert, delete

Q9. Can lists contain different data types in Python?

Yes.
Lists in Python can contain different data types.

Q10. Explain why strings are immutable in Python.

Strings are immutable in Python to ensure efficiency, security, and reliability.

Reasons:

- Memory efficiency: Same string can be reused (string interning)

- Safety: Prevents accidental changes

- Performance: Faster operations and caching

- Hashing: Allows strings to be used as dictionary keys

Q11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries offer advantages over lists when you need fast access using keys.

Advantages:

- Faster lookup using keys (O(1))

- Data stored as key–value pairs

- More readable and meaningful

- No need to search by index

Q12. Describe a scenario where using a tuple would be preferable over a list.

Use a tuple instead of a list when data must not change.

Scenario:
Storing coordinates or fixed records

Q13. How do sets handle duplicate values in Python?

HOW sets handle duplicates:

- Sets use hashing

When an element is added:

- Python computes its hash value

- Checks if that hash already exists in the set

- If it exists → element is ignored

- If not → element is stored

Q14. How does the “in” keyword work differently for lists and dictionaries?

The in keyword works differently because of how lists and dictionaries store data.

1. Lists:

Checks if a value exists

Searches sequentially (O(n) time)

2. Dictionaries:

Checks if a key exists (not value)

Uses hashing → fast lookup (O(1) average time)

Q15. Can you modify the elements of a tuple? Explain why or why not?
     No, you cannot modify elements of a tuple because tuples are immutable.

Explanation:

Immutable → cannot change after creation

Any attempt to change an element will cause an error

This ensures data integrity and reliability

If modification is needed:

Convert tuple → list → modify → convert back to tuple

Q16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary that contains another dictionary (or dictionaries) as its values.

Use case: Storing complex structured data, like student info with multiple attributes.

In [ ]:
# exampmle
students = {
    "101": {"name": "Asha", "age": 20, "marks": {"Math": 90, "Sci": 85}},
    "102": {"name": "Riya", "age": 21, "marks": {"Math": 88, "Sci": 92}}
}
print(students["101"]["marks"]["Math"])

90

Q17. Describe the time complexity of accessing elements in a dictionary?

Accessing elements in a Python dictionary has an average time complexity of O(1).

Explanation:

Python dictionaries use a hash table

Key is hashed → points directly to the value → constant-time lookup

Worst case: O(n) (rare, happens if many keys collide in the hash table)

Q18. In what situations are lists preferred over dictionaries?

Lists are preferred over dictionaries when:

- Order matters – you need elements in a sequence

- Duplicates are allowed – same value can appear multiple times

- Simple collection of items – no need for key–value mapping

- Frequent iteration – looping over elements is simple

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because, traditionally, they do not maintain the order of items based on insertion (before Python 3.7).

Effects on data retrieval:

You cannot rely on the order of keys when iterating

Retrieval by key is fast (O(1)) because order doesn’t matter

In modern Python (3.7+), dictionaries preserve insertion order, but they are still accessed by keys, not position

Q20. Explain the difference between a list and a dictionary in terms of data retrieval?

A list and a dictionary differ in how data is retrieved:

List:

Data is accessed using indices (position in the list).

Searching for a specific value requires checking elements one by one, which is slower (O(n) time).

Lists maintain the order of elements.

Dictionary:

Data is accessed using keys instead of positions.

Python dictionaries use a hash table, allowing fast lookup (average O(1) time).

Dictionaries are unordered (access is by key, not sequence).

Conclusion:
Lists are suitable for ordered collections and sequential access, while dictionaries are ideal for fast key-based retrieval of data.

# CODE

In [3]:
# Q1. Write a code to create a string with your name and print it
p = 'prerana'
print(p)
type(p)

prerana

str

In [4]:
# Q2. Write a code to find the length of the string "Hello World".
h = 'Hello World'
print(len(h))

11

In [5]:
# Q3Write a code to slice the first 3 characters from the string "Python Programming".
p = 'Python Programming'
print(p[0:3])

Pyt

In [6]:
# Q4. Write a code to convert the string "hello" to uppercase.
h = 'hello'
print(h.upper())

HELLO

In [1]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

S = 'I like apple'
print(S.replace('apple','orange'))

I like orange

In [2]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [31]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].
l = [1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [8]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [9]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
l = ['a', 'b', 'c', 'd']
print(l[1])

b

In [10]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
l = [10, 20, 30, 40, 50]
print(l[ : :-1])

[50, 40, 30, 20, 10]

In [12]:
# Q11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
# Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t = ('red', 'green', 'blue', 'yellow')
print(t[1:4])

('green', 'blue', 'yellow')

In [14]:
# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
T = (10, 20, 5, 15)
print(min(T))

5

In [15]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [17]:
# Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t1 = ('Mango', 'strawberry', 'kiwi')
print("kiwi" in t1)

True

In [18]:
# Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [20]:
# Q17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
print(set)
set.clear()
print(set)

{1, 2, 3, 4, 5}
set()

In [22]:
# Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [28]:
# Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1,2,3}
s2 = {3,4,5}
print(s1.union(s2))
print(s1 | s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [29]:
# Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,  2,3}
s2 = {2, 3, 4}
print(s1.intersection(s2))
print(s1 & s2)

{2, 3}
{2, 3}

In [32]:
# Q21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = dict.fromkeys(['name', 'age', 'city'])
print(my_dict)

{'name': None, 'age': None, 'city': None}

In [33]:
# Q22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
# Q23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print(dict['name'])
print(dict.get('name'))

Alice
Alice

In [41]:
# Q24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [43]:
# Q25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict)
print('paris' in dict)

True
False

In [45]:
# Q26  Write a code to create a list, a tuple, and a dictionary, and print them all.
l = list()
t = tuple()
d = {}
print(type(l), type(t), type(d))

<class 'list'> <class 'tuple'> <class 'dict'>

In [50]:
# Q27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)
l = [15, 44, 39, 47, 1]
print(sorted(l))

[1, 15, 39, 44, 47]

In [51]:
# Q28 Write a code to create a list with strings and print the element at the third index.
l = ['a', 'b', 'c', 'd']
print(l[3])

d

In [52]:
# Q29  Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [55]:
# Q30.  Write a code to convert a list of strings into a set.
import builtins
l = ['name', 'age','num']
print(builtins.set(l))

{'name', 'num', 'age'}